@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
}

.card img {
  width: 100%; 
  border-radius: 12px;
  margin-top: 0; 
}

.card p {
  font-size: 15px;
  color: hsl(216, 15%, 48%);
}

.card h1 {
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
.attribution {
  margin-top: 30px;
  font-size: 10px;
}
