html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  height: 70vh;
  width: 300px;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  flex-wrap: wrap;
}
.card img {
  height: 43vh;
  width: 270px;
  border-radius: 15px;
  margin-top: 15px;
}
.card p {
  font-size: 15px;
  color: hsl(216, 15%, 48%);
}
.card h1 {
  font-size: 18px;
  color: hsl(218, 44%, 22%);
}